@model Aemp.Logistica.Web.Models.DispatchModel

@{
    ViewBag.Title = "Transportista - Verificacion de Albarán";    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>                
                <br/>
                <h2>@ViewBag.Message</h2>                
            </hgroup>
            <p>
                <h5>Apuntes de Diseño</h5>
                Esta pagina permite al transportista verificar que los detalles del albaran que se ha importado son correctos. Un albaran es en estado de "Importado" hasta que el transportista lo verifica,<br/>
                <h5>Observaciones</h5>
                De momento esta pagina es un prototipo que presenta siempre los mismos datos.
            </p>
        </div>
    </section>
}
<table>
    <thead>
        <th>Linea</th>
        <th>Tipo Producto</th>
        <th>Producto</th>
        <th>Unidad</th>
        <th>Cantidad</th>
        <th>Puesto</th>
        <th>Comerciante</th>
    </thead>        
    @foreach (var linea in Model.Lineas)
    {
        <tr>
            <td>@linea.LineaId</td>
            <td>@linea.TipoProducto</td>
            <td>@linea.Producto</td>
            <td>@linea.Unidad</td>
            <td>@linea.Cantidad</td>
            <td>@linea.PuestoDescription()</td>
            <td>@linea.Comerciante</td>
        </tr>
    }
</table>
<table>
    <tr>
        <td><input type="button" value="Confirmar" onclick="location.href='@Url.Action("Confirm", "Dispatch")'" /></td>
        <td><input type="button" value="Descartar" onclick="location.href='@Url.Action("Discard", "Dispatch")'" /></td>
    </tr>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("table > tbody tr:odd").css("background-color", "#F7F7F7");
            $("table > thead th").css("padding-right", "20px"); // ToDo: Use CSS to do this
        });
    </script>
}
