<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - AEMPM</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        
                        <table style="margin-top:0">
                            <tr>
                                <td>
                                    <img src="~/Images/aempm_logo.jpg" alt="AEMPM Logo"/>
                                </td>
                                <td>
                                    <table>
                                    <tr>
                                        <td class="featured">Asociación de Empresarios</td>
                                    </tr>
                                    <tr>
                                        <td class="featured">Mayoristas de Pescados de Madrid</td>            
                                    </tr>
                                    </table>
                                </td>                                
                            </tr>                            
                        </table>
                        @*@Html.ActionLink("your logo here", "Index", "Home")*@
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated)
                    {
                        <nav style="margin-top: 35px;">
                            <ul id="menu">
                                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li>@Html.ActionLink("Añadir Listado", "Index", "Dispatch")</li>                                
                                <li>@Html.ActionLink("Listados Activos", "Enquiry", "Dispatch")</li>
                                
                                @*
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                *@
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Asociación de Empresarios Mayoristas de Pescados de Madrid</p>
                </div>
                <div class="float-right">
                    <p>Version 18-Abril-2013 - @Html.ActionLink("Cambios y Mejoras", "Index", "ReleaseNotes")</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
